.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dialog-container {
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
}

.dialog-container2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.dialog-panel {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-cancel {
  background-color: #f0f0f0;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 20px;
}
.button-confirm {
  background-color: #5CB7E6;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-confirm:hover {
  background-color: #2A85B4;
}
.button-cancel:hover{
  background-color: #D6D6D6;
}
.texto-modal{
  width: 100%;
  color: black;
  text-align: center; 
  box-sizing: border-box;
  font-size: 17px ;
  font-weight: 100px;
}
.form-pieza{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-rows{
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-rows div{
  width: 40%;
}
.form-complete-row{
  width: 100%;
  margin-top: 20px;
}
.form-complete-row-div{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.form-complete-row-div div{
  flex: 1;
}
.form-complete-row-div input{
  border-radius: 10px;
  width: 50%;
  border: 2px solid #E1E1E1;
  font-size: 13px;
  color: #6D7580;
  margin-top: 12px;
  padding: 10px;
}
.form-complete-row input{
  border-radius: 10px;
  width: 40%;
  border: 2px solid #E1E1E1;
  font-size: 13px;
  color: #6D7580;
  margin-top: 12px;
  padding: 10px;
}
.form-subtext{
  font-size: 15px;
  color: #6D7580;
}
.form-pieza-input {
  border-radius: 10px;
  width: 100%;
  border: 2px solid #E1E1E1;
  font-size: 13px;
  color: #6D7580;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  transition: border-color 0.3s ease; /* Añade la transición para el cambio de color del borde */
}

.form-pieza-input:hover {
  border-color: #5CB7E6; /* Cambia el color del borde al hacer hover */
}
.modal-foot-pieza{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.dialog-input{
    background-color: #F8F6F6;
    border: None;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    color: black;
    box-sizing: border-box;
    padding: 2%;
}
.dialog-title{
  margin-bottom: 20px;
  font-weight: 450;
}
.modalAddProject{
  border-radius: 10px;
  border: None;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  background-color: #B3DBEB; 
  text-decoration: None;
  color: black;
  padding: 10px;
}
.modalAddProject:hover{
  background-color: #8ABFD6; 
}
.modal-select{
  width: 60%;
  margin-top: 12px;
}
.modal-delete{
  background-color: #B3DBEB;
  border-radius: 10px;
  border: None;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  text-decoration: None;
  color: black;
}
.modal-delete:hover{
  background-color: #8ABFD6;
}