@import "tailwindcss";

/* Global CSS styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; /* Ensure the font name is correctly capitalized */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Also set the body font-family */
}


.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@media print {
  .SideBar-noPrint {
    display: none !important;
  }

  .main-content-with-sidebar {
    margin-left: 0 !important;
  }
}

.main-content-with-sidebar {
  margin-left: 16rem; /* same as Tailwind's ml-64 (64 * 0.25rem = 16rem = 256px) */
  width: 100%;
}
