.background-comments {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3.5rem;
    width: 100%;
  }

.project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.label {
    font-weight: 500; /* Slightly bold label */
    color: #888; /* Lighter gray for the label */
    margin-bottom: 4px;
}

.info-button {
    background-color: #5cb7e6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.info-button:hover {
    background-color: #47a2d3;
    transform: translateY(-2px);
    transform: scale(1.05);
}

.footer-comments{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}