.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem;
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  align-self: flex-start;
}

.dashboard-button {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2.5rem;
}

.dashboard-subtitle {
  margin-bottom: 2rem;
  margin-left: 2rem;
  align-self: flex-start;
}

/* Estado vacío */
.empty-message {
  color: #6b7280;
  margin-bottom: 2rem;
  margin-inline: 2rem;
}

/* Grid de tarjetas */
.card-grid {
  display: grid;
  gap: 1rem;
  margin-inline: 2rem;
  padding-right: 0.5rem; 
}

/* Card */
.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* O ajusta según el número de datos */
  gap: 20px;
  align-items: start;
  padding: 0.5rem;
}

.card-text {
  font-size: 12px;
  font-weight: 600;
  color: #555;
}

.card-title {
  font-size: 10px;
  font-weight: 500;
  color: #888;
  margin-bottom: 4px;
}
.show-notification {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.hide-notification {
  visibility: hidden;
}