.nda-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
}

.nda-header {
  display: flex;
  width: 100%;
  max-width: 64rem;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.nda-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.nda-button-download {
  background-color: #5cb7e6;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nda-button-download:hover {
  background-color: #4aa3d0;
}

.nda-grid {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 64rem;
}

.nda-subtitle {
  font-size: 1.25rem;
  color: #5cb7e6;
}

.nda-text {
  color: #4b5563;
  white-space: pre-wrap;
  padding-right: 0.5rem;
}

.nda-input-group {
  display: flex;
  gap: 1rem;
}

.nda-input {
  border: 1px solid #e1e1e1;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  width: 100%;
}

.nda-error {
  color: #ef4444;
}

.nda-button-submit {
  background-color: #5cb7e6;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nda-button-submit:hover {
  background-color: #4aa3d0;
}

.nda-button-submit.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media print {
  .nda-input-group,
  .nda-button-download,
  .nda-title,
  .nda-button-submit {
    display: none !important;
  }

  .nda-main {
    padding: 2rem; /* Opcional: ajusta para ahorrar espacio en impresión */
  }

  .nda-header {
    margin-bottom: 0.5rem;
  }

  body {
    background: white;
    color: black;
  }
}

@media print {
  html,
  body {
    height: auto !important;
    overflow: visible !important;
  }

  .nda-main {
    max-height: none !important;
    overflow: visible !important;
  }

  * {
    box-shadow: none !important;
    overflow: visible !important;
  }
}
