.projectstatus-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5rem;
  padding-top: 0;
  width: 100%;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  color: #888;
  font-size: 14px;
}

.evaluation-section {
  width: 100%;
  margin-top: 2rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stage {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.stage h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600; 
}

.stage-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.stage-table th,
.stage-table td {
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
  border: none; 
  word-wrap: break-word;
}

.stage-table th:nth-child(1),
.stage-table td:nth-child(1) {
  width: 30%; /* Comité */
}

.stage-table th:nth-child(2),
.stage-table td:nth-child(2) {
  width: 30%; /* Resultados de evaluación */
}

.stage-table th:nth-child(3),
.stage-table td:nth-child(3) {
  width: 40%; /* Comentario */
}

.stage-table th {
  color: #888;
  font-weight: 500;
}

.stage-table th:nth-child(1), /* Comité */
.stage-table th:nth-child(2), /* Resultado */
.stage-table th:nth-child(3) {
  /* Comentario */
  color: #888; 
}

.stage-table td:nth-child(3) {
  color: #aaa; 
}

.stage-table th:first-child {
  padding-left: 0; 
}

.stage-table td:first-child {
  padding-left: 0; 
}

.approved {
  font-weight: bold;
  color: #008000;
}

.pending {
  color: #ff9800;
  font-style: italic;
}

.not-approved {
  color: #f44336;
  font-weight: bold;
}

.stage-button {
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.stage-button.active {
  background-color: #5cb7e6;
  color: white;
}

.stage-button.active:hover {
  background-color: #47a2d3;
  transform: translateY(-2px);
}

.stage-button.disabled {
  background-color: #d3d3d3;
  color: #666;
  cursor: not-allowed;
}

.dictum-input-form {
  margin-top: 10px;
}

.dictum-input-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.125rem;
}

.dictum-input-form input {
  border: 1px solid #e1e1e1;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  width: 30%;
}
