.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.is-empty::before {
  content: attr(data-placeholder);
  color: #adb5bd;
  float: left;
  pointer-events: none;
  height: 0;
}