.fullTable-background{
    padding: 20px;
}
.BackgroundTable{
    width: 100%;
    margin-bottom: 20px;
}
.div-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.div-button button{
    background-color: #89CEEF;
    margin-right: 20px;
    padding: 14px;
    font-weight: 450;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 6px 12px 0px rgba(63, 140, 255, 0.26);
}
.div-button button:hover {
    background-color: #5ab6e0; 
    box-shadow: 0px 8px 16px 0px rgba(63, 140, 255, 0.4);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}
.table-form-header{
    background-color: #C1E4F5;
}
.table-form-header tr th{
    padding: 10px;
}
.table-form-caption{
    background-color: #C1E4F5;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
    padding: 10px;
}
.table-form-header tr th{
    border: 1px solid black;
}
.table-form-body tr td{
    border: 1px solid black;
    text-align: center;
        padding: 5px;
}

.second-table-form-header{
    background-color: #C1E4F5;
}
.second-table-form-header th{
    border: 1px solid black;
    padding: 10px;
}
.second-table-form-body td{
    border: 1px solid black;    
    text-align: center;
}


.backgroundParticipants{
    width: 100%;
    display: block;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.participant_title{
    background-color: #C1E4F5;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.participant-data{
    display: flex;
    flex-wrap: wrap;
    background-color: #E9E9E9;
}
.participant-data div{
    flex: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.participant-data div p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.participant-institution{
    display: flex;
    flex-wrap: wrap;
}
.participant-institution-inner{
    display: flex;
    flex: 1;
}
.participant-institution-inner div{    
    flex: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.participant-institution-inner div p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.participant-data-subname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.participant-data2{
    display: flex;
    flex-wrap: wrap;
}
.participant-data2 div{
    flex: 1;
}
.participant-label{
    border-top: 1px solid black;
    font-weight: 600;
}
.participant-tag{
    font-weight: 600;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.participant-tag-title{
    font-weight: 600;
    padding: 10px; 
}
.participant-tag-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.participant-row{
    display: flex;
    flex-direction: column;
}
.center-data{
    display: flex;
    text-align: center;
}
td {
  text-align: center;  /* Centrado horizontal */
  vertical-align: middle; /* Centrado vertical */
}

.table-form-show {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    margin-bottom: 20px;
}

.table-form-show caption div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.table-form-show caption div p{
    flex: 1;
    display: flex;
}

.table-form-show tbody tr input{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
.table-form-show th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.table-form-show-head{
    background-color: #C1E4F5;
    font-weight: 600;
}
.table-form-show-head tr td{
    border: 1px solid black;
}
.table-form-show-body tr td{
    border: 1px solid black;
}
.fullTable-body h1{
    font-weight: 600;
    margin-bottom: 20px;
}
.subtitle-text{
    font-weight: normal;
}
.table-alginPNIODS{
    padding: 20px;
    width: 20%;
}
.message-after-data{
    margin-bottom: 20px;
}


.background-table-header{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    width: 100%;
    font-weight: 480;
}
.background-images{
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1rem; 
    margin-bottom: 20px;
}
.background-images img {
    max-height: 100%;  
    max-width: 45%;     
    height: auto;
    width: auto;
    object-fit: contain;
}
.background-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #666666;
}
.row-header{
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    display: flex;
    justify-content: space-between;
}
.row-header div{
    flex: 1;
    border-right: 1px solid #666666;
    display: flex;
    align-items: center;
    justify-content: center;
}
.folio-version{
    display: flex;
}
.folio-version-first{
    border-right: 1px solid #666666;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.folio-version-second{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.text-soli{
    margin-top: 20px;
    text-align: center;
    width: 90%;
    font-weight: 600;
    margin-bottom: 20px;
}
.table-form-title-bold td{
    font-weight: 600;
}
.page-break {
    page-break-before: always;
    break-before: page;
}
@media print {
    .div-button {
      display: none !important;
    }
    .files-no-print{
        display: none !important;
    }
}